
nav a {
  background: transparent !important;
  padding: 0.9rem !important;
  border-radius: 50% !important;
  display: flex !important;
  color: var(--color-light) !important;
  font-size: 1.1rem !important;
}
nav a:hover {
  background: rgba(0, 0, 0, 0.3);
}
nav a.active {
  background: var(--color-primary);
  color: var(--color-bg);
}
